:root {
  /* colors */
  --primary: #3282fd;
  --primary-darken: #1973fc;
  --dusk: #525f7f;
  --dusk-darken: #4d5977;
  --dark-blue: #172b4d;
  --warning: #fb6340;
  --warning-darken: #fa4e27;
  --secondary: #8898aa;
  --danger: #dc3545;
  --night-blue: #32325d;
  --black: #333333;
  --success: #4bb431;
  --success-darken: #43a02c;

  /* - */
  --text-color: var(--dusk);
}
